<footer>
  <div class="footer-container">
    <div class="footer-block">
      <h2>IKOMI PERU</h2>
      <p>Empresa importadora y comercializadora de repuestos para todo tipo de vehículos con calidad y precios de mercado.</p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-skype"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
    <div class="footer-block">
      <h3>Dirección</h3>
      <p>Avenida Nicolás Ayllon 3384<br>Carretera Central - Paradero Rayovac<br>Lima - Ate</p>
    </div>
    <div class="footer-block">
      <h3>Correo</h3>
      <p>ventaikomiperu.com</p>
    </div>
    <div class="footer-block">
      <h3>Teléfonos</h3>
      <p>985 068 416<br>981 453 306</p>
    </div>
  </div>
</footer>
