<div class="container">
    <div class="card">
        <div class="title">Equipo</div>
        <img src="/assets/nosotros1.jpg" alt="Equipo">
    </div>
    <div class="card">
        <div class="title">Almacen</div>
        <img src="assets/nosotros2.jpg" alt="Almacen">
    </div>
    <div class="card">
        <div class="title">Tienda</div>
        <img src="assets/nosotros3.jpg" alt="Tienda">
    </div>
    <div class="card">
        <div class="title">Empresa</div>
        <img src="assets/nosotros4.jpg" alt="Empresa">
    </div>
</div>
