<div class="contact-wrapper">
  <div class="brands-container">
    <br>
    <br>
    <br><br>
    <br>
      <h2>Marcas</h2>
      <p>Contamos con las marcas más reconocidas en el mercado nacional e internacional especializadas en la fabricación de repuestos para vehículos con altos estándares de calidad.</p>
      <div class="brand-grid">
          <div class="brand-card">
              <img src="assets/marca1.png" alt="Sangsin Brake">
              <p>Fabricante líder en la industria Coreana de piezas y partes para frenos de fricción, cuenta con más de 6 plantas a nivel mundial. Sangsin está equipado con las mejores tecnologías originales globalmente apreciadas y es suplidor OEM para Hyundai, Kia, GM Daewoo, SSangyong y Renault Samsung.</p>
          </div>
          <div class="brand-card">
              <img src="assets/marca2.png" alt="Hansang">
              <p>La marca HANSANG maneja una amplia gama de repuestos de parte de caja como son: Piñón y corona, Deslizante, Piñones, Trenfijo, Satélites, Planetarios, Propulsor, Bronces, etc.</p>
          </div>
          <div class="brand-card">
              <img src="assets/marca3.png" alt="Mando">
              <p>Mando Corporation pertenece al grupo Halla Holding y cuenta con 20 fábricas en el mundo, 16 centros de investigación y con más de 11,000 trabajadores. La visión de Mando Corporation es crear productos seguros, ecológicos y de fácil uso.
              </p>
          </div>
          <div class="brand-card">
              <img src="assets/marca4.png" alt="TCIC">
              <p>
                Tae Chul Industrial Co. fabricante de piezas de automóviles con más de 70 años de experiencia en la producción de bombas y bombines de freno y embrague de la mejor calidad. Cuenta con 5 plantas en Asia.
              </p>
          </div>
          <div class="brand-card">
              <img src="assets/marca5.jpg" alt="PHC Valeo">
              <p>
                Valeo Pyeong Hwa International es una subsidiaria de la marca Valeo. Con operaciones en 33 días, fabrica y exporta piezas de automóviles para sistemas de suspensión y posición.
              </p>
          </div>
          <div class="brand-card">
              <img src="assets/marca6.png" alt="Yulim">
              <p>
                Establecida en 1998, Yulim High-Tech ha crecido como una de las marcas más reconocidas en el mercado. Produce y exporta piezas para sistemas de suspensión y posición.
              </p>
          </div>
      </div>
  </div>
</div>
